model_list:
  - model_name: gpt-5.2
    litellm_params:
      model: openai/gpt-5.2
      api_key: os.environ/OPENAI_API_KEY
      service_tier: flex

# general_settinsg:
#   master_key: os.environ/LITELLM_MASTER_KEY
