[core]
  autocrlf = input
  safecrlf = true
  eol = lf
  excludesfile = ~/.config/git/ignore
  attributesfile = ~/.config/git/attributes
[user]
  name = Roger Qiu
  email = roger.qiu@polyhack.io
  signingkey = 0D3FB2EEAF121097
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[submodule]
  recurse = true
[credential]
  helper = cache --timeout=1800
[alias]
  cloner = clone --recursive
  pullr = pull --recurse-submodules
  tree = log --graph --branches --remotes --tags --decorate --pretty=oneline --abbrev-commit
  tree-stat = log --graph --branches --remotes --tags --decorate --pretty=oneline --abbrev-commit --stat
  tree-patch = log --graph --branches --remotes --tags --decorate --pretty=oneline --abbrev-commit --patch
  srv = !git daemon --base-path=. --reuseaddr --informative-errors --verbose
  srv-all = !git daemon --base-path=. --export-all --reuseaddr --informative-errors --verbose
  srv-rcv = !git daemon --base-path=. --enable=receive-pack --reuseaddr --informative-errors --verbose
  srv-rcv-all = !git daemon --base-path=. --export-all --enable=receive-pack --reuseaddr --informative-errors --verbose
[pull]
  rebase = true
[init]
  defaultBranch = master
[diff "sqlite3"]
  textconv = "f(){ sqlite3 -batch \"$1\" .dump; }; f"
[safe]
  directory = /etc/nixos
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
