[submodule ".dotfiles-modules/vim-fakeclip"]
	path = .dotfiles-modules/vim-fakeclip
	url = https://github.com/kana/vim-fakeclip.git
[submodule ".dotfiles-modules/gundo.vim"]
	path = .dotfiles-modules/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule ".dotfiles-modules/vim-colors-solarized"]
	path = .dotfiles-modules/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".dotfiles-modules/vim-pathogen"]
	path = .dotfiles-modules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".dotfiles-modules/vim-indent-guides"]
	path = .dotfiles-modules/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".dotfiles-modules/zsh-syntax-highlighting"]
	path = .dotfiles-modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".dotfiles-modules/spacemacs"]
	path = .dotfiles-modules/spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule ".dotfiles-modules/vim-nix"]
	path = .dotfiles-modules/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule ".dotfiles-modules/vim-commentary"]
	path = .dotfiles-modules/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".dotfiles-modules/vim-editorconfig"]
	path = .dotfiles-modules/vim-editorconfig
	url = https://github.com/sgur/vim-editorconfig.git
[submodule ".dotfiles-modules/vim-elixir"]
	path = .dotfiles-modules/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
