[core]
    autocrlf = input 
    safecrlf = true 
    eol = lf
    excludesfile = ~/.gitignore_global
[user]
    name = Roger Qiu
    email = roger.qiu@polycademy.com
[credential]
    helper = cache --timeout=1800
[alias]
    cloner = clone --recursive
    tree = log --graph --branches --remotes --tags --decorate --pretty=oneline --abbrev-commit
    tree-stat = log --graph --branches --remotes --tags --decorate --pretty=oneline --abbrev-commit --stat
    tree-patch = log --graph --branches --remotes --tags --decorate --pretty=oneline --abbrev-commit --patch