"*":
  core:
    autoHideMenuBar: true
    openEmptyEditorOnStart: false
    projectHome: "%USERPROFILE%\\Projects"
    telemetryConsent: "no"
  editor:
    fontFamily: "Fira Code Light"
    scrollPastEnd: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "5cd65f0b-caa6-1a82-0e97-7baebc07b937"
  "line-ending-selector":
    defaultLineEnding: "LF"
  "spell-check":
    locales: [
      "en-GB"
    ]
  welcome:
    showOnStartup: false
