"*":
  core:
    projectHome: "%USERPROFILE%\\Projects"
    telemetryConsent: "no"
  editor:
    scrollPastEnd: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "5cd65f0b-caa6-1a82-0e97-7baebc07b937"
  "line-ending-selector":
    defaultLineEnding: "LF"
  welcome:
    showOnStartup: false
